---
import "../styles/global.css";

import NavBar from "@/components/NavBar.astro";

import Hero from "./parts/Hero.astro";
import BentoBox from "./parts/BentoBox.astro";
import TeamView from "./parts/TeamView.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Glass Frog</title>
  </head>

  <body class="bg-zinc-200 w-full">
    <NavBar />
    <Hero />
    <BentoBox />
    <TeamView />
  </body>
</html>
