<div class="fixed p-4 w-full z-50">
  <div
    class="w-full rounded-2xl backdrop-blur-md border border-zinc-400 bg-zinc-300/30 flex flex-row p-4 items-center shadow-lg gap-16 justify-between"
  >
    <a href="/">
      <img src="/assets/gfa.png" alt="Glass Frog Academy Logo" class="h-16" />
    </a>
    <div class="flex flex-row gap-12">
      <a href="/team">
        <div class="flex items-end">
          <p class="text-xl">Our Team</p>
          <img src="/assets/icons/chevron_down.svg" class="brightness-0"/>
        </div>
      </a>
      <a href="/classes">
        <div class="flex items-end">
          <p class="text-xl">Classes</p>
          <img src="/assets/icons/chevron_down.svg" class="brightness-0"/>
        </div>
      </a>
      <a href="/register">
        <div class="flex items-end">
          <p class="text-xl">Register</p>
          <img src="/assets/icons/chevron_down.svg" class="brightness-0"/>
        </div>
      </a>
    </div>
  </div>
</div>
